body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    text-align: left;
    line-height: 145%;
    background-color: black;
}
.parent { width: 100%; }

.stage {
    float: left;
    margin: 20px auto;
    width: 50%;
    min-height: 800px;
    background-color: #FFFFFF;
    border-radius: 25px; 
}
.news{
    float: left;
    margin: 20px auto;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 50px;
    border-style: solid;
    border-color: red;
    text-align: justify;
    text-justify: inter-word;
}

.mangaNews{
    float: left;
    margin: 20px auto;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 50px;
    border-style: solid;
    border-color: red;
    text-align: justify;
    text-justify: inter-word;
}

.braveSoulsNews {
    float: left;
    margin: 20px auto;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 50px;
    border-style: solid;
    border-color: red;
    text-align: justify;
    text-justify: inter-word;
}

.animeNews{
    float: left;
    margin: 20px auto;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 50px;
    border-style: solid;
    border-color: red;
    text-align: justify;
    text-justify: inter-word;
}

.consoleGameNews{
    float: left;
    margin: 20px auto;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 50px;
    border-style: solid;
    border-color: red;
    text-align: justify;
    text-justify: inter-word;
}

h1{
    text-align: center;
}
.mast {
	max-width: 100%;
	height: 300px;
	background: red;
	margin: auto;
	position: relative;	
}
.mast-war {
	height: 300px;
	width: 100%;
    background-image: url('../images/background/mast.png'); 
    background-size: contain;
    background-repeat: no-repeat;
	background-position: left;
}
.leftBay, .rightBay {
    float:  left;
    margin: 20px auto;
    width: 25%;
    min-height: 800px;   
}
.leftBay {
    background-image: url('../images/background/ichigo.png'); 
    background-size: cover;
    background-repeat: no-repeat;    
}
.rightBay {
    background-image: url('../images/background/rukia.png'); 
    background-size: cover;
    background-repeat: no-repeat;    
}